<!DOCTYPE html>
<html>
	<head>
		<title>kj: Tic-Tac-Toe</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<h1>Hello <%= name %>, <%= date %></h1>
		<div id="grid">
			<div class="row">
				<button class="cell">
				</button>
				<button class="cell">
				</button>
				<button class="cell">
				</button>
			</div>
			<div class="row">
				<button class="cell">
				</button>
				<button class="cell">
				</button>
				<button class="cell">
				</button>
			</div>
			<div class="row">
				<button class="cell">
				</button>
				<button class="cell">
				</button>
				<button class="cell">
				</button>
			</div>
		</div>
		<h2 id="winner"></h2>

		<script>
			var grid = <%- JSON.stringify(grid) %>
		</script>
		<script src="/js/main.js"></script>
	</body>
</html>
