<!DOCTYPE html>
<html>
	<head>
		<title>kj: Tic-Tac-Toe</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<h1>Log Out</h1>
		<form action="/logout" method="post">
			<button type="submit">Log Out</button>
		</form>
	</body>
</html>
